body{
    background-color: #d1d1d1;
    margin: 0px;
    padding: 0px;
}
header, nav, article, footer{
    width: 100%;
    margin: auto;
}
section img{
   width: 100%;
}
nav{
    height: 50px;
    background-color: cadetblue;
}
nav ul{
    list-style: none;
    margin:auto;
    padding: 0px;
    height: 50px;
    width: 500px;
}
nav ul li{
    float: left;
}
nav ul li a{
    text-decoration: none;
    color:black;
    line-height: 50px;
     width: 100px;
    display: block;
    text-align: center;
}

nav ul li a:hover{
    color:white;
    background-color: darkslategrey;

}
.limpia{
    clear: both;
}
.active{
    color:white;
    background-color: darkslategrey;
}

.logo{
    float: left;
    width: 2.5%;
}

.red_social{
    float: right;
    width: 2.5%;
}